body{
    width:99vw;
    height: 99vh;
    position: absolute;
    display: block;
}

.wrapper{
    width:100%;
    height: 100%;
    position: absolute;
    display: block;
}

.home_bg{
    position: absolute;
    top:0;
    left: 0;
    width: inherit;
    height: inherit;
}

.menu_btns{
    text-transform: uppercase;
    position: relative;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    width: 150px;
}

.projects{
    left: 44vw;
    top: 79.5vh;
    transform: rotate(8deg);
}