body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block; }

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: block; }

.home_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit; }

.menu_btns {
  text-transform: uppercase;
  position: relative;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.projects {
  left: 44vw;
  top: 79.5vh;
  transform: rotate(8deg); }

/*# sourceMappingURL=theme.css.map */
