description = "default layout"
==
<!DOCTYPE html>
<html lang="EN">

<head>
    <title>Welcome to aleXela.biz - mechanical solutions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='keywords' content='tourism, israel, vip, trips'>

    <meta name='copyright' content='israplanet.com'>
    <meta name='language' content='RU'>
    <meta name='robots' content='index'>

    <meta name='Classification' content='tour business'>
    <meta name='author' content='alexela, alxkos.mail@gmail.com'>
    <meta name='designer' content='seido.va, o.seidova@gmail.com'>

    <meta name='owner' content='israplanet.com'>
    <meta name='url' content='http://www.israplanet.com'>

    <meta name='pagename' content='main page'>
    <meta name='category' content='travel'>

    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>

    <meta name="description" content="Please sign-in or register to continue">

    <meta property="og:site_name" content="israelplanet.com">
    <meta property="og:title" content="Israplanet.com">
    <meta property="og:description" content="Please sign-in or register to continue">
    <meta property="og:url" content="https://www.israplanet.com">
    <meta property="og:image" content="http://israplanet.com/">
    <meta property="og:image:secure_url" content="https://www.xplace.com/images/en/xplace_screenshot.jpg?v=10001">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:locale" content="en_US">

    <link href="{{[
            'https://fonts.googleapis.com/css?family=Alef:400,700',
            'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=cyrillic',
            'assets/css/slick.css',
            'assets/css/slick-theme.css',
            'assets/css/theme.css',
            ]|theme }}" rel="stylesheet">
</head>

<body>
    {% page %}
</body>
{% partial 'templates' %}
<script src="{{[
        '@jquery',
        '@framework',
        'assets/js/vendor/isotope.3.0.4.min.js',
        'assets/js/vendor/slick.1.6.0.min.js',
        'assets/js/vendor/underscore.1.8.3.min.js',
        'assets/js/vendor/backbone.1.3.3.min.js',
        'assets/js/vendor/handlebars.4.0.10.js',
        'assets/js/vendor/handlebars.intl.min.js',
        'assets/js/vendor/cookie.2.1.4.js',
        'assets/js/model.js',
        'assets/js/view.js',
        'assets/js/app.js',
        ]|theme }}"></script>

</html>