title = "home"
url = "/"
layout = "default"
description = "Main/home page"
is_hidden = 0

[Contentloader]
==

==
<div class="loader"></div>
<header>
    <div class="logo">LOGO</div>
    <div class="share">share to: </div>
</header>

<div class="wrapper">
    {# {{ Contentloader.getContent('info').content|raw }}    

    </br>

    {{ Contentloader.getContent('contacts').content|raw }} #}


    <div class="projects">
        {# {% for project in Contentloader.getProjects() %}
            {{ project.name }}
            <img src="{{ project.images.0.path }}" alt="">
            <img src="{{ project.thumb.path }}" alt="">
        {% endfor %} #}
    </div>


</div>
<div class="buttons">
    <div class="contacts menu_btns">contacts</div>
    <div class="about menu_btns">about me</div>
    <div class="projects menu_btns">projects</div>
    <div class="manufacturers menu_btns">manufacturers</div>
</div>
<div class="home_bg" style="background:url('themes/alexela.biz/assets/images/home_bg.png') no-repeat; background-position: center; width: 100%; height: 100%; display: block;"></div>

<footer>2017</footer>