<p style="text-align: center;"><strong>Alexei Kositsin</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Address:&nbsp;</strong>30 Levontin</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Tel Aviv, &nbsp;Israel</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Tel:&nbsp;</strong> +972-544-298-658</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Email:&nbsp;</strong> <a title="info@alexela.biz" href="mailto:info@alexela.biz" target="_blank">info@alexela.biz</a></p>