<p><span style="font-size: small;">My name is Alexei Kositsin.</span> <span style="font-size: small;">&nbsp;I'm a mechanical engineer practicing in R&amp;D and innovation, as a freelancer and inventor.</span> <span style="font-size: small;">For the past 10 years I worked in R&amp;D at various fields, building systems of different complexity levels, and searching creative solutions for variety of problems in the medical, electrical, optical and nano-scale mechanical systems, civil and building industry, water treatment systems, industrial design, car industry, to name a few...</span> <span style="font-size: small;">I offer the following services:</span></p>
<ul>
<li><span style="font-size: small;">Mechanical parts design using:</span></li>
</ul>
<p><span style="font-size: small;">- Different manufacture technologies (CNC, casting, molding, welding,</span><span style="font-size: small;">laser and water cutting&hellip;)</span><span style="font-size: small;">- Different materials (metal, plastics, rubber, etc..)</span></p>
<ul>
<li><span style="font-size: small;">Assembly design of different scales: prototyping to mass production.</span></li>
<li><span style="font-size: small;">Design of high-complexity, amorphous bodies</span></li>
<li><span style="font-size: small;">Sheet metal parts design</span></li>
<li><span style="font-size: small;">Wire and pipe drawings</span></li>
<li><span style="font-size: small;">Jigs development for different purposes (test, assembly, welding, adhesive, ect...)</span></li>
<li><span style="font-size: small;">Reverse engineering</span></li>
<li><span style="font-size: small;">Production, assembly, BOM, packing and maintenance drawings</span></li>
<li><span style="font-size: small;">PCB design (mechanical)</span></li>
<li><span style="font-size: small;">Design for heat spreading</span></li>
<li><span style="font-size: small;">Sealed assemblies design</span></li>
<li><span style="font-size: small;">3D and 2D CAD files format conversion (parasolid, iges, step, dxf, dwg, etc&hellip;)</span></li>
<li><span style="font-size: small;">Manage non-standard data (CT scans), transferring into CAD systems</span></li>
<li><span style="font-size: small;">3D scanning using various technologies (Zed Scanner, Photos, Laser Scanning)</span></li>
<li><span style="font-size: small;">Prototype design and assembly (using 3D printing, soft silicone molding)</span></li>
<li><span style="font-size: small;">Visualization and animation of mechanical processes (assembly steps, installation and manufacturing step process movies)</span></li>
<li><span style="font-size: small;">Photo-realistic rendering</span></li>
<li><span style="font-size: small;">Presentation design</span></li>
<li><span style="font-size: small;">Solid Works training</span></li>
</ul>
<p><span style="font-size: small;">I possess knowledge for the following CAD and imaging software: Solid works, Solid edge, 3DS MAX, Google sketch-up, Autocad, 3DVIA composer, KOMPAS-3D, Photoshop and many other tools.&nbsp;</span><span style="font-size: small;">Among my clients are: <strong><a title="Edwards" href="http://www.edwards.com/Pages/Default.aspx" target="_blank">Edwards</a></strong> (medical, heart research), <strong><a title="bTendo" href="http://btendo.com/" target="_blank">bTendo</a></strong> (nano-mechanics, optics), <strong><a title="Tigo Energy" href="http://www.tigoenergy.com/" target="_blank">Tigo Energy</a></strong> (solar systems), <strong><a title="Valtech Cardio" href="http://www.valtechcardio.com/" target="_blank">Valtech Cardio</a></strong> (medical, heart research), <strong><a title="Maxillent" href="http://www.maxillent.com/" target="_blank">Maxillent</a></strong> (medical, tooth implant research), <strong><a title="Rafael" href="http://www.rafael.co.il/Marketing/203-en/Marketing.aspx" target="_blank">Rafael</a></strong> (defense systems), <strong><a title="Red-C" href="http://www.red-c.com/" target="_blank">Red-C</a></strong> (network equipment), <strong><a title="Medingo-Roche" href="http://www.solo4you.com/" target="_blank">Medingo-Roche</a></strong> (medical, drug delivery systems),<strong><a title="Primesense " href="http://www.primesense.com/" target="_blank">Primesence</a></strong> (entertainment systems), <strong><a title="Siklu " href="http://www.siklu.com/" target="_blank">Siklu</a></strong> (radio transmitting equipment), <strong><a title="P2W" href="http://www.p2w.co/" target="_blank">P2W</a></strong>(water treatment systems), <strong><a title="Modu" href="http://en.wikipedia.org/wiki/Modu" target="_blank">Modu</a></strong> (cellular development), <strong><a title="Intel" href="http://intel.com" target="_blank">Intel</a></strong> (chip maker), <strong><a title="Autotalks" href="http://www.auto-talks.com/" target="_blank">Autotalks</a></strong> (car to car networking), <strong><a title="Human-Extentions" href="https://www.sages.org/meetings/annual-meeting/abstracts-archive/human-extensions-a-novel-hand-held-surgical-operating-system/" target="_blank">Human-Extentions</a></strong> (laporoscopy medical startup), <strong><a title="Laserlux" href="http://www.laserlux.co.il/" target="_blank">laserlux</a></strong> (welding lab), <a title="Lumos" href="http://www.lumos-global.com/" target="_blank"><strong>Lumos</strong></a> (portable solar systems), <strong><a title="Rimon" href="http://rimonltd.co.il/" target="_blank">Rimon</a></strong> (water gas, energy solutions), <strong><a title="Shmueli cables" href="https://www.shmueli-cable.com/" target="_blank">Shmueli cables</a></strong> (cables and wires), <a title="Vigdu" href="http://www.vigdu.com/" target="_blank"><strong>Vigdu</strong></a> (solar systems), <strong><a title="White innovations" href="http://white-innovations.com/" target="_blank">White innovations</a></strong> (R&amp;D studio) and additional R&amp;D teams and companies.</span><span style="font-size: small;">Project samples are provided in the <strong><a id="info_gal" href="#">gallery</a></strong>.</span> Founder at <strong><a title="Kado thin technologies" href="http://kado.tech/" target="_blank">Kado thin technologies.</a></strong><span style="font-size: small;">Best Regards.</span> Alexei</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="margin-top: -500px;">&nbsp;</p>